doctype html
html(lang="en")
  head
    title Pug Testing
    link(rel="stylesheet", href="test.css")
  body
    h1 Pug works!
    h3 Numbers

    //- Example of iterating through objects and use as content
    - 
      let numbers = [
        {
          numWord: "one",
          numDigit: "1",
        },{
          numWord: "two",
          numDigit: "2",
        },{
          numWord: "three",
          numDigit: "3",
        }
      ];

    mixin displayNums(nums)
      li= nums.numWord + " = " + nums.numDigit

    ul
      for num in numbers
        +displayNums(num)
